.Main{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .Main{
        justify-content:flex-start;
        margin-top: 2rem;
    }
    /* .Main h1{
        display: none;
    } */
    .table{
        width: 40p;
    }
}

@media screen and (max-width: 768px)
{
    .Main{
        width: 350px;
    }
    .Main h1{
        display: none;
    }
    .table{
        
    }
}